* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-gray: rgba(0, 0, 0, 0.2);
  --color-check-text: rgba(0, 0, 0, 0.1);
  --color-green: #5dc2af;
  --color-title-color: rgba(175, 47, 47, 0.15);
  --color-xicon: #b97072;
}
body {
  background-color: rgb(234, 234, 234);
}

main {
  display: flex;
  flex-direction: column;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
}
section {
  width: 552px;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
}
