.todos-input__form--title {
  font-size: 100px;
  margin: 34px 0px 27px 0px;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  font-weight: 100;
}
.todos-input__input {
  width: 100%;
  height: 67px;
  border: none;
  font-size: 20px;
  padding: 26px 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  outline: none;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 100;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.todos-input__input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.2);
  font-family: "M PLUS Rounded 1c", sans-serif;
}
